{% extends 'base.html.twig' %}

{% block page_header %}

    <div class="page-heading">
        <h3>{{ title }}</h3>
    </div>

{% endblock %}

{% block body %}
    <p>Проекты:</p>
    <ul>
        {% for project in projects %}
        <li>{{ project.name }}</li>
        {% endfor %}
    </ul>
{% endblock %}
