{% extends 'base.html.twig' %}


{% block page_header %}

    <div class="page-heading">
        <h3>{{ task.name }}</h3>
    </div>

{% endblock %}

{% block body %}

    <section class="section">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="buttons">
                        <a href="" class="btn btn-outline-primary">Редактировать</a>
                        <a href="" class="btn btn-outline-danger">Удалить</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                Описание
            </div>
            <div class="card-body">
                {{ task.description }}
            </div>
        </div>
        {% if task.project %}
            <div class="card">
                <div class="card-header">
                    Проект
                </div>
                <div class="card-body">
                    {{ task.project.name }}
                </div>
            </div>
        {% endif %}

    </section>

{% endblock %}

