<table class="table" id="projects">
    <thead>
    <tr>
        {% for name in columnNames %}
            <th>{{ name }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
        {% for project in entity %}
            <tr>
                <td>{{ project.id }}</td>
                <td>{{ project.name }}</td>
                <td>0</td>
                <td>Новый</td>
                <td>{{ project.creator.username }}</td>
            </tr>
        {% endfor %}

    </tbody>
</table>
