<table class="table" id="projects">
    <thead>
    <tr>
        {% for name in columnNames %}
            <th>{{ name }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>

    </tbody>
</table>
