{% extends 'base.html.twig' %}


{% block page_header %}

    <div class="page-heading">
        <h3>{{ title }}</h3>
    </div>

{% endblock %}

{% block body %}
    {{ component('Table', {
        title: 'Список проектов',
        columnNames: '#,Наименование,Кол-во задач,Статус,Создатель',
        entity: 'project'
    }) }}
{% endblock %}

